body
{
    background-color: black;
    font-family: Verdana, Arial, sans-serif;
    font-size: 20px;
    color: white;
}

#container
{
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
}

#logo
{
    width: 100%;
    float:left;
    background-color:  #262626;
    color: #ffffff;
}

#logoimg
{
    float:left;
    padding-top: 15px;
    padding-left: 10px;
}

#logotext
{
    float:left;
    padding-left: 20px;
}

h1
{
    font-size: 40px;
    margin: 5px;
    margin-top: 20px;
}

h2
{
    margin: 2px;
    font-size: 15px;
}

#navigation
{
    width: 15%;
    float: left;
    background-color: #404040;
}

.navpanel
{
    border-color: #595959;
    border-radius: 15px;
    border-style: solid;
    margin: 10px;
    background-color: #666666;
}

h4
{
    text-align: center;
    font-size: 23px;
}

.button
{
    text-align: center;
    border-color: #4d4d4d;
    border-radius: 10px;
    border-style: solid;
    margin: 5px;
    padding: 5px;
    color: white;
    background-color: #808080;
    font-size: 20px;
}

.button:hover
{
    color:  #000000;
    background-color: #a6a6a6;
}

.button:active
{
    color: #cccccc;
    background-color: #595959;
}

.aButton
{
    text-decoration: none;
}

button.button{
    margin-left: 10px;
    padding:10px;
}

.comment
{
    float: right;;
}

a
{
    color: #cccccc;
}

a:hover
{
    color: #f2f2f2;
}

a:active
{
    color: black;
}

#content
{
    width: 85%;
    float: left;
    background-color: #595959;
}

.article
{
    float: left;
    background-color: #4d4d4d;
    border-color: #666666;
    border-radius: 15px;
    border-style: solid;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    text-align: justify;
}

h3
{
    margin-top: 10px;
    font-size: 30px;
}

#footer
{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #262626;
    clear: both;
    font-size: 15px;
}

#commentPanel
{
    clear: both;
    background-color: #4d4d4d;
    border-color: #666666;
    border-radius: 15px;
    border-style: solid;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: justify;
}

#commentPanel input
{
    background-color: #666666;
    font-size: 20px;
    color: #ffffff;
}

#commentPanel input[type='submit']
{
    margin-left: 0px;
    padding:10px;
}

#commentPanel input[type='submit']:hover
{
    color:  #000000;
    background-color: #a6a6a6;
}

#commentPanel input[type='submit']:active
{
    color: #cccccc;
    background-color: #595959;
}

.validationSuccess
{
    color: green;
}

.validationFailure
{
    color: red;
}

textarea
{
    resize: none;

    font-family: Verdana, Arial, sans-serif;
    background-color: #666666;
    font-size: 20px;
    color: #ffffff;
}

.gameTextPlayer
{
    color: #0ff80f;
}

.gameTextComputer
{
    color: red;
}

#newPost
{
    clear: both;
    background-color: #4d4d4d;
    border-color: #666666;
    border-radius: 15px;
    border-style: solid;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: justify;
}

#newPost input
{
    background-color: #666666;
    font-size: 20px;
    color: #ffffff;
}

#newPost input[type='submit']
{
    margin-left: 0px;
    padding:10px;
}

#newPost input[type='submit']:hover
{
    color:  #000000;
    background-color: #a6a6a6;
}

#newPost input[type='submit']:active
{
    color: #cccccc;
    background-color: #595959;
}

input
{
    background-color: #666666;
    font-size: 15px;
    color: #ffffff;
}